<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

  <div>

    <div class="form-group row" >
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
              [ngClass]="{'is-invalid':nombre.errors!=null && nombre.touched, 'is-valid':nombre.errors==null}"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="3"
               required
               #nombre="ngModel">
               <!-- Trae el objeto ngModel  a una variable local-->
         <div *ngIf="nombre.errors?.required" [ngClass]="{'invalid-feedback':nombre.errors!=null}">
           Este campo es requerido
         </div>
         <div  *ngIf="nombre.errors?.minlength" [ngClass]="{'invalid-feedback':nombre.errors!=null}">
           Por lo menos {{nombre.errors.minlength.requiredLength}} caracteres
         </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               [ngClass]="{'is-invalid':apellido.errors!=null && apellido.touched, 'is-valid':apellido.errors==null}"
               [(ngModel)]="usuario.apellido"
               name="apellido"
               placeholder="Apellido"
               required
               #apellido="ngModel">
               <div *ngIf="apellido.errors?.required" [ngClass]="{'invalid-feedback':apellido.errors!=null}">
                 Este campo es requerido
               </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             [ngClass]="{'is-invalid':email.errors!=null && email.touched, 'is-valid':email.errors==null}"
             [(ngModel)]="usuario.correo"
             name="email"
             placeholder="Correo electrónico"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required
             #email="ngModel">
             <div *ngIf="email.errors?.required" [ngClass]="{'invalid-feedback':email.errors!=null}">
               Este campo es requerido
             </div>
             <div *ngIf="email.errors?.pattern" [ngClass]="{'invalid-feedback':email.errors!=null}">
               No es un formato de correo electrónico válido
             </div>
    </div>
  </div>
  <div class="form-group row" >
    <label class="col-2 col-form-label">País</label>
    <div class="col-8">
      <select
      class="form-control"
      name="pais"
      [(ngModel)]="usuario.pais">

      <option value="">Seleccione un país</option>
      <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>

      </select>

    </div>
  </div>

  <div class="form-group row" >
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-8">

      <label class="custom-control custom-radio" *ngFor="let sexo of sexos">
        <input  name="sexo" type="radio" class="custom-control-input" [value]="sexo" [(ngModel)]="usuario.sexo">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{sexo}}</span>
      </label>
      <!-- <label class="custom-control custom-radio">
        <input  name="sexo" type="radio" class="custom-control-input" value="mujer" [(ngModel)]="usuario.sexo">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Mujer</span>
      </label> -->

    </div>
  </div>

  <div class="form-group row" >
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-8">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="usuario.acepta" name="acepta" required>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Acepta terminos y condiciones condiciones</span>
      </label>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" [disabled]="!forma.valid" class="btn btn-outline-primary" >
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{usuario | json}}
</pre>
